*{
    box-sizing: border-box;
    
}

body, button{
    margin: 0px;
    padding: 0px;
    font-family: "Acme", Arial, Helvetica, sans-serif;
    color: #222222;
    background: no-repeat url(../img/login_rodaGigante.jpg) center 0;
    background-size: 100%;
}


.container{
    border: 1px solid transparent;
    width: 30%;
    height: 426px;
    margin: 100px auto 70px auto;
    border-radius: 15px;
    flex-flow: column nowrap;
    box-shadow: 0 0 1em  black;
   
}

.container h2{
    text-align: center;
    margin: 20px auto; 
}

.container-form{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-flow:  column nowrap ;
}

.container-form input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 50%;
    height: 45px;
    margin: 20px auto;
    flex-wrap: wrap;

}

.container-form button{
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 2em;
    width: 60%;
    margin: 30px auto;
    background: transparent;

}

